* {
    
    font-family: 'Roboto', 'sans-serif';
}

p {
    display: flex;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    padding-bottom: 3vh;
}


.h-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 17vh;
}

.h-bot {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  gap: 20vh;
}

.h-text {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding: 5vh;
  flex-grow: 1;
}

.h-image {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: #E5E7EB;
}

.h-bot-title, .h-bot-text, .h-bot-button {
    display: flex;
    margin: 0;
}

.h-bot-title {
    font-size: 48px;
    font-weight: 900;
}

.h-bot-text {
    font-size: 18px;
    color: #E5E7Eb;
}

.h-bot-button {
    max-width: 11vh;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 1vh;
    min-width: 15vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 3 1 auto;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    flex: 1 1 auto;
}

.cards {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #464646;
    font-weight: 100;
    justify-content: center;
    gap: 15vh;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    max-width: 20vh;
}

.subtext {
    text-align: center;
    min-width: 20vh;
    min-height: 20vh;
    margin: 0;
    padding-top: 1vh;
}

.image {
    display: flex;
    flex: 1 1 0;
    min-width: 20vh;
    min-height: 20vh;
    margin: 0;
    border: #3882F6, 5px, solid;
    border-radius: 10%;
}

.quote {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5vh;

}

.q-quote {
    display: flex;
    flex-direction: column;
}

.filler {
    flex: 1;
}

.q-text {
    max-width: 125vh;
    padding: 5vh;
    margin: 0;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.q-person {
    margin: 0;
    justify-content: end;
    font-size: 36px;
}

.call {
    display: flex;
    flex-direction: row;
    display: 1 1 0;
    padding: 5vh;
    justify-content: center;
}

.c-content {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    padding: 5vh;
    border-radius: 5%;
    gap: 10vh;
}

.c-b-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-button {
    max-width: 11vh;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 1vh;
    border: solid 2px #E5E7EB;
    border-radius: 5%;
    min-width: 15vh;
}

.c-text p {
    margin: 0;
}

.c-head {
    font-weight: 900;
    font-size: 20px;
}

.c-sub {
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    background-color: #1F2937;
    color : #E5E7EB;
    font-size: 18px;
}