* {
    border: 2px solid red;
}

p {
    display: flex;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}


.h-top {
    display: flex;
    flex-direction: row;
}

.h-bot {
  display: flex;
  flex-direction: row;
}

.h-image {

}